*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(172, 255, 47, 0.18);
        font-family: "Salsa", cursive;
        font-weight: 400;
        font-style: normal;
}

/* Top Nav start */

#logo{
    width: 220px;
}
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
}
.search-form{
    display: flex;
    align-items: center;
}
.links{
    display: flex;
    column-gap: 10px;
    list-style: none;
    
    a{
        text-decoration: none;
        color: firebrick;
        box-shadow: 5px 5px 5px firebrick;
        font-size: larger;
        font-weight: bolder;
        margin: 25px;
    }
 
}
.search-button {
    padding: 10px;
    background-color: firebrick;
    border: 1px solid #570447;
    border-left: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    outline: none;
}
.search-box {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

/* Top Nav Ends */



/* Main Nav Start */

.mainnav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    list-style: none;
    background-color: rgb(178, 34, 34);

    a{ 
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        text-shadow: 2px 2px 2px goldenrod;
        padding: 12px 30px; 
        font-weight: bold;
    }
}

.mainnav li a:hover{
    background-color: #1b0c0a8d;
    color:gold;
}


/* Main Nav Ends */

/* body starts here */

p,
li {
    color: #707070;
}

.header {
    text-align: center;
}

h1 {
    color: #DB0038;
}

h2 {
    color: red;
}

h3 {
    color: firebrick;
}
.hero{
   text-align: center;
   font-size: 1.2rem;
   padding-left: 50px;
   padding-right: 50px;
   img{
    width: 400px;
    box-shadow: 5px 5px 5px firebrick;
   }
}
.content{
    width: 800px;
   margin: 0 auto;
   
}
li{
    padding-top: 5px;
    padding-bottom: 5px;
}
span{
    color: #F4B400;
    font-size: 25px;
}
.rating{
    text-align: center;
}

/* body ends */

.footer1{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px;
    list-style: none;
    background-color: firebrick;

    a{
        text-decoration: none;
        color: white;
        font-size: 1rem;
        text-shadow: 2px 2px 2px gold;
    }
}
 .icons{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    background-color: firebrick;
 }

.footerp{
    color: white;
    text-align: center;
    background-color: firebrick;
}


/* Footer Ends here */



@media screen and (width < 768px) {
    .grid{
        grid-template-columns: 2fr;
    }
    
}